@charset 'utf-8';
*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style-type:none;
	-webkit-text-size-adjust:none;
}
html{
	font-size: 62.5%;
	font-family: "Microsoft YaHei",微软雅黑,"SimSun","Microsoft JhengHei",华文细黑,STHeiti,MingLiu,tahoma,verdana,arial,sans-serif;
}
/*body {
	font-size: 1.2rem; *1.4 × 10px = 14px *
}*/

html, body, form, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select, header {
	margin: 0;
	padding: 0;
}

body{
	background:#fff;
}

img{
	border:0px;
}
select {
	background: transparent;
}
/*浮动闭合*/
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

*html .clearfix{
	height:1%;
}

*:first-child+html .clearfix{
	zoom:1;
}

/*去掉浏览器焦点时候的边框*/
input:focus,textarea:focus{
	outline:none;
}

.clearfix{
	display:inline-block;
}

.clearfix{
	display:block;
}

.clear{
	clear:both;
}

a{
	background-color:transparent
}

a:active,a:hover{
	outline:0
}

/*屏蔽点击元素出现底色*/
a{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

/*禁止选中*/
p,span,a,li,div{
	-webkit-user-select:none;
}

a:link,a:visited,a:hover,a:active{
	color:black;
}

button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}

button{
	overflow:visible
}

button,select{
	text-transform:none
}

/*去掉浏览器焦点时候的边框*/
button,html, input[type="button"],input[type="reset"],input[type="submit"],textarea,select{
	-webkit-appearance:none;
	border: 0;
	outline: 0;
}

input:focus,textarea:focus{
	outline:none;
}

input{
	line-height:normal;
	border: none;
}
/*去掉苹果手机端web按钮默认样式，解决按钮默认圆角问题*/
input[type="text"] { 
	-webkit-appearance: none;
	border-radius: 0;
}
input:focus,textarea:focus {
	outline: none;
}
input[type=checkbox],input[type=radio]{
	box-sizing:border-box;
	padding:0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
	height:auto
}

input[type=search]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}
input[type="tel"]{
	border-radius:3px;
	border:1px solid #ccc;
	-webkit-appearance:none;
}

pre{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}

legend{
	border:0;
	padding:0
}

textarea{
	overflow:auto
}

optgroup{
	font-weight:700
}

table{
	border-collapse:collapse;
	border-spacing:0
}

td,th{
	padding:0
}

hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.bc{
	margin:0px auto;
}

.db{
	display:block;
}

.d_ib{
	display:inline-block;
}

.pr{
	position:relative;
}

.pa{
	position:absolute;
}

.pf{
	position:fixed;
}

.tr{
	text-align:right;
}

.tl{
	text-align:left;
}

.tc{
	text-align:center;
}

.none{
	display:none;
}
.wrap {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	/*width: 100%;*/
}
.flex1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}
/*布局*/
.active-types{
	overflow:hidden;
	background:#fff;
	padding-bottom:12px;
}
.active-types a{
	float:left;
	width:25%;
	padding:16px 0 25px 0;
}
.active-types a img{
	display:block;
	height:48px;
	margin:-8px auto 5px;
}
.active-types a span{
	display:block;
	line-height:1em;
	text-align:center;
	font-size:12px;
	color:#2f2f2f;
}
.pt10 {
	padding-top: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
input.input-weak, textarea.input-weak {
	border: 0;
	height: 30px;
	margin: -.15rem 0;
	text-indent: 2px;
	line-height: 1;
	font-size: 14px;
	padding: 0;
}
.btn {
	display: inline-block;
	margin: 0;
	text-align: center;
	height: 28px;
	padding: 0 15px;
	border-radius: 5px;
	color: #fff;
	border: 0;
	background: #32cd32;
	font-size: 16px;
	vertical-align: middle; 
	box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;
}
.btn-block {
	display: block;
	width: 100%;
}
.btn-wrapper {
	margin: 30px 10px;
}
.btn-green {
	background: #32cd32;
}
.btn-gray {
	background: #b5a8a2;
}
.btn-disabled {
	background: #ccc!important;
}
.btn-weak {
	display: inline-block;
	padding: 0 15px;
	color: #fff;
	border-radius: 5px;
}
.btn-larger {
	height: 45px;
	line-height: 45px;
}
.btn-code {
	position: absolute;
	right: 3px;
	top: 50px;
	width: 120px;
	height: 33px;
	padding-left: 7px;
	font-size: 15px;
}
.btn-search{
	position: absolute;
	top: 7px;
	right: 10px;
	width: 50px;
	height: 30px;
	font-size: 14px;
	background: #32cd32;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}
/*头部*/
.page-header {
	height: 44px;
	background: #32cd32;
	color: #fff;
	font-size: 18px;
	line-height: 44px;
	text-align: center;
	/*position: fixed;*/
	width: 100%;
	top: 0;
	z-index: 999;
}
.page-header>.title {
	width: -webkit-calc(100% - 120px);
	width: -moz-calc(100% - 120px);
	width: calc(100% - 120px);
	margin: 0 auto;
	text-align: center;
	display: block;
	color: #fff;
}
.page-header>.back {
	font-size: 22px;
	padding-left: 10px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 45px;
}
.page-header>.finish {
	font-size: 16px;
	padding-left: 10px;
	text-align: left;
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 45px;
}
.page-header>.phone {
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 45px;
}
/*遮罩*/
.page_strong {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	display: none;
}
/*弹出窗口*/
.dialog {
	background: #fff;
	width: 80%;
	text-align: center;
	border-radius: 3px;
	position: fixed;
	display: none;
	z-index: 9999;
}
.dialog-sm {
	display: none;
	background: #333;
	width: 180px;
	height: 85px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	opacity: 0.9;
	z-index: 9999;
}
.dialog-sm>p {
	color: #fff;
	font-size: 20px;
	line-height: 85px;
}
.border-right {
	border-right: 1px solid #ebebeb;
}
.border-bottom {
	border-bottom: 1px solid #ebebeb;
}
.txt-throught {
	text-decoration: line-through;
}
.txt-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*轮播*/
.hd {
	margin-top: -1.5rem;
	position: relative;
	width: auto;
	margin-bottom: 1.5rem;
}
.hd ul {
	float: left;
}
.hd ul li {
	width: 8px;
	height: 8px;
	margin-right: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #9b9c99;
	float: left;
}
.hd ul li.on {
	background: #32cd32;
}
.bnrs-wrap {
	z-index: 0;
	height: auto;
}
.bnrs-wrap {
	width: 100%;
	margin: 0 auto;
	margin-top: 44px;
	overflow: hidden;
	position: relative;
}
.baitem {
	float: left;
}
.bnrs img {
	display: block;
	height: auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1466049813_1608016.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1466049813_1608016.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1466049813_1608016.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1466049813_1608016.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1466049813_1608016.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
}
/*弹出-提示摸态框*/
#zzc{   
	position:fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	display:none;
	background-color:#7C7B76;
	opacity:.9;
}
#MsgForm{   
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	display:none;
}
.news{
	position:fixed;
	z-index: 9999;
	width:300px;
	/*margin:-50px 0 0 -150px;*/
	margin:-50px 0 0;
	text-align:center;
	background-color:#fff;
	border-radius:3px;
}
#newsFrom{
	position:relative;
	float:left;
	width:100%;
	font-size:20px;
	border-bottom:1px solid #EFEFF4;
}
#errorFrom{
	display:none;
	position:relative;
	float:left;
	width:100%;
	font-size:20px;
	padding:10px 0;
	border-bottom:1px solid #EFEFF4;
}
.nc-box p{
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
}
.nc-box .nc-box-list {
	margin-bottom: 25px;
}
.nc-box .nc-box-list span{
	font-size: 14px;
}
.nc-box .nc-box-list input{
	width: 75%;
	border: 1px solid #ebebeb;
}
#password{
	display:none;
}
.msgfoot{
	display:none;
	float:left;
	width:100%;
}
.closeNews{
	display: block;
	font-size: 15px;
	color: #999;
	background-color:#fff;
	border-bottom-left-radius:3px;
}
.confirm{
	display: block;
	font-size: 15px;
	height:40px;
	color:#2666dc;
	background-color:#fff;
	border-bottom-right-radius:3px;
}
.nc-box .nc-box-list span{
	display: block;
	padding: 0 24px;
	line-height: 24px;
	color: #888;
}