@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-09 16:17:56
 * @version $Id$
 */
 *{
    margin: 0; 
    padding: 0 ; 
    font:  normal 100% "Helvetica","微软雅黑"; 
    color: #333;  
    font-size: 16px;
    max-height: 99999px;
}
.bg_white {
    background-color: #fff;
}
.bg_f5 {
    background-color: #f5f5f5;
}
.icon_bg {
    background: url(../image/icon-bg.png)no-repeat; 
    overflow: hidden;
}
/*sprite*/
.sprites{ 
     float: left; 
     overflow: hidden; 
     background: url(../image/icon.png) no-repeat; 
      background-size: 93px 195px;
     }
.white_arrow{
    position: absolute;
    width: 9px;
    height: 17px;
    margin: 12px 2%;
}
.talk{
    width: 15px;
    height: 15px;
    background-position: 0 -90px;
    margin: 0 5px 0 15px;
}
.look_icon{
    width: 23px;
    height: 13px;
    background-position: -70px 0;
    margin: 1px 5px 0 15px;
}
.red_talk{
    width: 15px;
    height: 16px;
    background-position: 0 -120px;
    float: right;
    margin: 9px 9px 0 0;
}
.blue_wari{
    width: 15px;
    height: 15px;
    background-position: 0 -30px;
    float: right;
    margin: 9px 0 0 0;
}
.local{
    width: 15px;
    height: 17px;
    background-position: 0 -60px;
    margin: 7px 0 0 0;
}
.good{
    width: 22px;
    height: 22px;
    background-position: -69px -25px;
    margin: 12px 3%;
}
/*header*/
.header{
    max-width: 1000px;
    min-width: 300px; 
    width: 100%;
    height: 44px;
    background-color: #f56b20;
    position: fixed;
}
.header h1{
    color: #fff;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
}
/*middle*/
.middle{
    max-width: 1000px;
    min-width: 300px; 
    width: 100%;
    overflow: hidden;
}
.middle div{
    display: block;
    overflow: hidden;
}
.middle .question_box{
    
    background-color: #fff;
    margin: 10px 0 0 0;
}
.question_box .question{
    width: 96%;
    margin: auto;
}
.question h1{
    font-size: 18px;
    line-height: 38px;
    color: #666;
}
.question p{
    width: 100%;
    font-size: 15px;
    color: #999;
    text-align: justify;
}
.question img{
    width: 100%;
    float: left;
    margin: 20px 0;
}
.question .footer{
    clear: both;
}
.footer span{
    float: right;
    color: #999;
    font-size: 12px;
}
.footer .date{
    float: left;
    padding-bottom: 10px;
}

.middle .answer_box{
   border-bottom:1px solid #cdcdcd;
    padding-top: 10px;
    margin: 0 0 10px 0;
}
.answer_box .answer{
    width: 96%;
    margin: auto;
}
.answer .portrait{
    float: left;
    width: 65px;
    height: 65px;
}
.answer .content{
    margin: 0 0 0 75px;
    display: block;
}
.answer span{
    font-size: 14px;
}
.answer .name{
    color: #f56b20;
    font-size: 18px;
}
.answer .lv{
    color: #fff;
    background-color: #ffcc33;
    border-radius: 3px;
    padding: 0 1%;
    line-height: 18px;
    margin: 0 5px 0 20px;
}
.answer .expert{
    color: #fff;
    background-color: #00b9b5;
    border-radius: 3px;
    padding: 0 1%;
    line-height: 18px;
}
.answer .time{
    clear: both;
    color: #999;
}
.answer p{
    font-size: 16px;
    color: #666;
    text-align: justify;
    padding:10px 0;
}
.answer .addr{
    color: #999;
    line-height: 30px;
}
.answ_input{
    max-width: 1000px;
    min-width: 300px;
    width: 100%; 
    background-color: #f56b20;
    height: 49px;
    position: fixed;
    bottom: 0;
}
.answ_input .foot_btn{
    border: none;
    border-radius: 5px;
    background-color: #fff;
    line-height: 40px;
    padding-left: 10px;
    margin: 4px ;
    width: 75%;
}
.answ_input span {
    color: #fff;
    line-height: 44px;
    font-size: 20px;
}
/*求助详情*/
.help .answer_box {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
}
.help .right-time {
    float: right;
    font-size: 12px;
    margin: 5px 9px 0 0;
}
.content .picture {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.content .content-footer {
   padding: 10px 0;
}
.border_b {
    border-bottom: 1px solid #cdcdcd;
}
.border_t {
    border-top: 1px solid #cdcdcd;
}
.border_r {
    border-right: 1px solid #cdcdcd;
}
.content .cai {
    width: 15px;
    height: 17px;
    background-position: 0 -148px;
}
.content .zan {
    width: 15px;
    height: 17px;
    background-position: 0 -180px;
} 
/*社区信息详情*/
.question .place {
    width: 15px;
    height: 17px;
    background-position: 0 -58px;
    padding: 0 0 10px 0;
}
.question .addr{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
/*商品详情*/
.header .shopping-cart {
    position: absolute;
    width: 33px;
    height:30px; 
    right: 10%;
    top: 8px;
    background-size: 300px 180px;
    background-position: -211px -151px; 
}
.header .share {
    position: absolute;
    width: 28px;
    height:25px; 
    right: 2%;
    top: 10px;
    background-size: 290px 163px;
    background-position: -263px -42px;   
}
.shop_point {
    position: absolute;
    font-size: 12px;
    color: #f56b20;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    right: 0;
    height: 14px;
    width: 14px;
    z-index: 100;
}
.middle .banner {
    position: relative;
    overflow: hidden;
}
.banner .hd ul {
    position: absolute; 
    z-index: 99;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
}
.banner .hd .on { 
    background: #ff9933;
}
.banner .hd ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 0;
    float: left;
    background: #cdcdcd;
}
.banner-img {
    width: 100%;
    float:left;   
}
.c_ef5959 {
    color: #ef5959;
}
.commodity-box .commodity {
    width: 96%;
    padding: 20px 0;
}
.commodity .commodity-name {
    font-size: 18px;
    color: #333;
}
.commodity .commodity-cost {
    clear: both;
    font-size: 16px;
    float: left;
}
.commodity .commodity-cost1 {
    margin-left: 20px;
    font-size: 14px;
    float: left;
    color: #ccc;
    text-decoration: line-through;
}
.commodity .commodity-sale {
    color: #ccc;
    float:right;
}
.commodity .commodity-comment {
    margin-left: 20px;
    font-size: 14px;
    float: left;
    color: #999;
}
.commodity .right {
    clear:both;
    position: absolute;
    right: 0;
    width: 12px;
    height: 19px;
    background-position: -72px -66px;
    top:50%;
    margin-top: -10px;
    background-size: 325px 203px;
}
.commodity .commodity-img {
    max-width: 690px;
    width: 38%;
    float: left;
    clear: both;
    margin-top: 5px;
}
.buy_input{
    max-width: 1000px;
    min-width: 300px;
    width: 100%; 
    height: 48px;
    position: fixed;
    bottom: 0;
}
.buy_input .service {
    position: absolute;
    margin: 5px 0 0 5%;
}
.buy_input .service-img {
    width: 25px;
    height: 25px;
    margin-left: 3px;
    background-size: 330px 205px;
    background-position: -235px -55px; 
}
.buy_input .service-tit {
    color: #333;
    font-size: 14px;
    clear: both;
    line-height: 14px;
}
.buy_input .shop-cart {
    position: absolute;
    width: 30%;
    right: 30%;
    background-color: #f56b20;
    line-height: 48px;
    height: 48px;
    color: #fff;
}
.buy_input .buy {
    position: absolute;
    width: 30%;
    right: 0;
    background-color: #ef5959;
    line-height: 48px;
    height: 48px;
    color: #fff;
}
.shop-cart-mask {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}
.shop-cart-choice-box {
    position: fixed;
    width: 100%;
    max-width: 1000px;
    bottom: 48px;
}
.shop-cart-choice-box .choice {
    width: 96%;
}
.shop-cart-choice-box .choice img{
    width: 40%;
    max-width: 650px;
    min-width: 150px;
}
.shop-cart-choice-box .choice .choice-content {
    width: 55%;
    margin:0 0 0 44%;
}
.shop-cart-choice-box .choice .off {
    width: 25px;
    height: 30px;
    background-position: -346px -140px;
    background-size: 383px 242px;
}
.property .property-tit {
    line-height: 30px;
}
.shop-cart-choice-box .property ul li span{
    line-height: 30px;
}
.shop-cart-choice-box .model {
    border: 1px solid #cdcdcd;
    padding: 0 2%;
    border-radius: 5px;
    margin-left: 2%;
}
.shop-cart-choice-box .nomodel {
    display: none;
    padding: 0 20px;
    border: 1px solid #f56b20;
    color: #f56b20;
    border-radius: 5px;
    margin-left: 2%;
}
.mui-amount-input{
    color: #666;
    font-size: 12px;
    height: 26px;
    border: 1px solid #cdcdcd;
    width: 50px;
    text-align: center;
    line-height: 26px;
}
.shop-cart-confirm {    
    position: fixed;
    bottom: 0;   
}
.shop-cart-confirm .confirm {
    color: #fff;
    line-height: 48px;
    background-color: #f56b20;
    max-width: 1000px;
    min-width: 300px;
    width: 100%; 
    height: 48px;
    font-size: 20px;
}
.amountbox .subtract {
    margin-left: 2%;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 13px 15px;
    background-size: 20px 40px;
    background-position: 5px 10px;
}
.amountbox .add {
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 13px 15px;
    background-size: 20px 60px;
    background-position: 5px -38px;
}
.amountbox .amount {
    line-height: 26px;
} 
.sign-img {
    background: url(../image/sign.png)no-repeat
}
/*商品评价*/
.appraise .portrait {
    width: 60px;
    height: 60px;
    float: left;
}
.condo-nav {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
}
.condo-nav ul li {
    width: 25%;
    float: left;
    height: 46px;
    color: #00b9b5; 
}
.condo-nav ul li i{
    display: block;
    font-size: 16px;
    color: #333;
}
.part_model {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
}
.condo-nav .condo-nav-change {
    border-bottom: 3px solid #00b9b5;
}
.middle .condo-nav .condo-nav-change i{
    color: #fb621a;
    display: block;
    font-size: 16px;
    margin-top: 2px;
}
.appraise .content {
    display: block;
    margin: 0 0 0 70px;
}
.appraise .content .amount {
    float: right;
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #666;
}
.appraise .appraises-star {
    width: 100%;
    margin: 20px 0 0 0;
}
.appraise  .rate .store_star img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}
.answer_box .appraise-below {
    width: 96%;
    margin: 0 auto;
}

/*专家信息*/
.expert-content .unit {
    clear:both;
    float: left;
    color: #fff;
    background-color: #00b9b5;
    border-radius: 3px;
    padding: 0 2%;
    line-height: 26px;
    margin: 2% 0;
    font-size: 15px;
}
.expert-content .expert-name {
    font-size: 18px;
    color: #333;
}
.answer .expert-portrait {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.answer .expert-content {
    float: left;
    width: 76%;
    margin: 0 0 0 2%;
}
.expert-content .consult-count {
    clear: both;
    float: left;
    color: #666;
}
.expert-content .student-count {
    margin: 0 0 0 8%;
    color: #666;
}
.expert-content .lv {
    color: #fff;
    background-color: #ffcc33;
    border-radius: 3px;
    padding: 0 2%;
    line-height: 22px;
    margin: 2px 5px 0 20px;
}
.consult .consult-cost {
    line-height: 40px;
    font-size:17px;
    margin-left: 2%;
}
.consult .consult-cost i {
    color: #be0000;
}
.consult .right {
    position: absolute;
    width: 10px;
    height: 20px;
    right: 5%;
    top:50%;
    margin-top: -8px;
    background-size: 300px 215px;
    background-position: -66px -72px;
}
.navbox {
    height: 40px;
}
.navbox .nav li {
    float: left;
    line-height: 38px;
    width: 25%;
    font-size: 18px;
}
.navbox .nav .nav-change {
    border-bottom: 2px solid #00b9b5;
    color: #f56b20;
    float: left;
    line-height: 38px;
    width: 25%;
    font-size: 18px;
}
.middle .ntro {
     width: 96%;
     margin: 0 auto;
     padding: 0 0 50px 0;
}
.middle .ntro p {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}
.middle .ntro p i {
    color: #666;
}
.classroombox .classroom .course {
    line-height: 40px;
    font-size: 16px;
    
}
.classroombox .classroom .course span {
    margin: 0 0 0 2%;
    color: #666;    
}
.classroombox .classroom .portrait img{
    width: 30%;
    margin: 0 0 0 2%;
}
.classroombox .classroom .portrait {
    float: left;
}
.classroombox .classroom .course-case {
    float: left;
    width: 50%;
}
.classroombox .classroom .course-portrait {
    width: 30%;
    float: left;
}
.classroombox .classroom .course-content {
    float: left;
    width: 68%;
    margin: 0 0 0 2%;
}
.classroombox .classroom .course-name {
    font-size: 18px;
    color: #333;
}
.classroom .course-content .time {
    float: left;
    clear: both;
    color: #666;
    font-size: 16px;
    margin: 4% 0; 
}
.classroom .course-content .people {
    float: left;
    color: #666;
    font-size: 16px;
    margin: 4% 0 0 4%;
}
.classroom .course-content .money {
    float: left;
    clear: both;
    font-size: 16px;
    color: #be0000;
}
.classroom .course-content .fm-people {
    float: left;
    clear: both;
    color: #666;
    font-size: 16px;
}
.classroom .course-content .course-local {
    width: 15px;
    height: 17px;
    background-position: -1px -58px;
}
.classroom .course-content .course-site {
    float: right;
    width: 73%;
}
.course-content .course-site span {
    font-size: 15px;
    color: #999;
    line-height: 20px;
}    
.classroom .answer {
    width: 96%;
    margin: 10px auto 0 auto;
}
.course-content .course-site .apart{
    margin: 0 0 0 2%;
}
.topic .publish {
    width: 96%;
    margin: 0 auto;
}
.topic .publish .topic-tit {
    color: #666;
    font-size: 16px;
    line-height: 40px;
}
.topic .publish .content {
    color: 15px;
    color: #999;
}
.appraise-nav {
    height: 60px;
}
.appraise-nav ul li {
    display: inline-block;
    width: 25%;
    float: left; 
}
.appraise-nav ul li i {
    display: block;
    margin-top: 7px;
}
.appraise-nav ul .nav-change i{
    color: #f56b20;
}
.middle .appraise {
    width: 96%;
    margin: 0 auto;
    padding: 5px 0 10px 0;
}
.appraise .appraise-portrait {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.appraise .appraise-tit {
    display: block;
    margin: 5px 0 0 90px;
}
.appraise .star span{
    background: url(../image/star.png)no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background-size: 20px 60px;
    background-position: 0 -40px;
    margin: 0 1% 0 0;
}
.appraise .star .star-change{
    background: url(../image/star.png)no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background-size: 20px 60px;
    margin: 0 1% 0 0;
}
.border_b {
    border-bottom: 1px solid #cdcdcd;
}
.border_t {
    border-top: 1px solid #cdcdcd;
}
.appraisebox:last-child {
    border-bottom: 1px solid transparent;
}
/*一对一咨询*/
.expert-content .people {
   padding: 5% 0 0 0;
}
.advisory {
    width: 96%;
    margin: 0 auto;
    line-height: 40px;
}
.advisory .cost {
    line-height: 44px;
}
.advisory .consult-cost {
    line-height: 44px;
    
}
.cost-combo {
    background-color: #fff;
}
.cost-combo .combo  {
    line-height: 44px;
    width: 96%;
    margin: 0 auto;
}
.cost-combo .combo .consult-cost {
    color: #666;
}
.cost-combo .combo .consult-cost i {
    color: #be0000;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 20%;
}
.cost-combo .combo .nocheck {
    background: url(../image/oncheck.png)no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0 -40px;
    background-size: 20px 60px;
    position: absolute;
    top:50%;
    margin-top: -10px;
    right: 2%;
}
.cost-combo .combo .checkin {
    display: none;
    background: url(../image/oncheck.png)no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    background-size: 20px 60px;
    position: absolute;
    top:50%;
    margin-top: -10px;
    right: 2%;
}
.cost-combo .combo .integral {
    color: #333;
}
.cost-combo .combo .integral i {
    color: #be0000;
    margin-left: 10px;
} 
.total .combo {
    width: 96%;
    margin: 0 auto;
}
.total .combo .total-cost i {
    color: #be0000;
    margin-left: 10px;
}
.total .combo .usable {
    margin-top: 10px;
    float: right;
}
.cost-submit {
    width: 80%;
    height: 44px;
    background: #f56b20;
    font-size: 20px;
    color: #fff;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 5px;
}
.abuot-logo {
    position: absolute;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    height: 90px;
    padding: 100px 0 0 0;
}
.abuot-text p{
    width: 60%;
    margin: 0 auto;
}
.abuot-text p:last-child {
    text-align: right;
}
.middle .abuot-text {
    padding: 250px 0 0 0;
    font-size: 18px;
    color: #333;
}
.middle .protocol {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    color: #666;
}