<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="/assets/js/firebase.js"></script>
        <script>
            var config = {
                apiKey: "AIzaSyBAxgIdvMqSfQmVct2VR6_68SbNIglD2IE",
                authDomain: "wallet-9bdef.firebaseapp.com",
                databaseURL: "https://wallet-9bdef.firebaseio.com/",
                storageBucket: "wallet-9bdef.appspot.com",
                messagingSenderId: "885870352352"
            };
            firebase.initializeApp(config);
            var errorCode;
            var errorMessage;
        </script>
    </head>
</html>